* {
  font-family: Arial;
}

.flex-container {
  margin-top: 24px;
  display: flex;
  align-items: stretch;
  background-color: white;
  flex-wrap: flex;
}

.flex-container > div {
  background-color: white;
  color: black;
  margin: 2px;
}

#navbar {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  text-align: center;
  margin-right: 50px;
}

#register {
  background-color: #35b0a7;
  color: white;
  padding-left: 5px;
  padding-right: 50px;
}

#logo {
  background-color: #0d28a6;

}

#section1{
    background-color: #F1F3FF;
    ;
}
